@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .toolbar-button{
        @apply px-1 hover:bg-gray-700 transition-colors duration-100 ease-in rounded-sm
    }
    .icon-toolbar-button{
        @apply text-white h-6 w-6
    }
}